@import './variables.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary-color);
    overflow-x: hidden;
    font-family: var(--f400);
}

.container {
    width: 100%;
    max-width: 1440px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/*--------------------------------------- header-start ----------------------------------- */

header {
    padding: 20px 0;
    background: var(--primary-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left {
    display: flex;
}

.nav__ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav__ul-li {
    color: var(--secondary-color);
    margin-right: 30px;
    font-size: 16px;
    font-weight: 400;
    padding: 7px 20px;
    border-radius: 48px;
    cursor: pointer;
    transition: 0.5s ease;
}

.nav__ul-icon {
    display: none;
}

.nav__ul-li:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.nav__logo {
    margin-left: 90px;
}

.nav__logo-image {
    width: 100%;
}

.nav__icon {
    display: flex;
    align-items: center;
}

.nav__icon-smile,
.nav__icon-handbag {
    width: 16px;
    height: 16px;
}

.nav__icon-smile {
    margin-right: 34px;
}

.nav__btn {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    height: 50px;
    width: 50px;
}

.nav__remove-btn {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 15px;
    top: 30px;
    height: 50px;
    width: 50px;
}

.nav__remove-btn svg,
.nav__btn svg {
    fill: var(--secondary-color);
}


/*--------------------------------------- header-end ----------------------------------- */

header::after {
    content: '';
    display: block;
    background-image: url(../image/intro__background.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin-top: 20px;
}


/*--------------------------------------- service-start ----------------------------------- */

.service {
    margin: 97px 0 81px 0;
}

.service__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__wrapper-title {
    max-width: 420px;
    width: 100%;
    color: var(--dark-gray);
    font-size: 30px;
    font-family: var(--f400);
}

.service__wrapper-btn {
    background-color: #ff7144;
    color: var(--primary-color);
    padding: 12px;
    border: none;
    border-radius: 27px;
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 15px;
}

.service__wrapper-right {
    display: flex;
    justify-content: space-between;
}

.service__content {
    background-color: var(--light-gray);
    text-align: center;
    width: 100%;
    padding: 32px 38px 19px 38px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service__content-icon {
    width: 140px;
}

.service__content:not(:last-child) {
    margin-right: 3px;
}

.service__content-title {
    color: var(--dark-gray);
    font-size: 18px;
    flex: 1;
}

.service__content-description {
    color: var(--dark-gray);
    font-size: 14px;
}

.review__image {
    background-image: url(../image/section.png);
    background-size: cover;
    height: 705px;
    position: relative;
}

.review__title {
    font-size: 50px;
    text-align: center;
    padding-bottom: 34px;
}

.review__content {
    position: absolute;
    bottom: 25px;
    left: 25px;
    background-color: var(--primary-color);
    padding: 11px 20px;
    border-radius: 8px;
    font-size: 12px;
    color: #252525;
}

.review__content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review__content-image {
    background: #44AE6F;
    padding: 3px;
    margin-left: 3px;
}

.review__content-type {
    margin-right: 9px;
}

.review__content-rating {
    margin-left: 12px;
    margin-right: 5px;
}

.review__content-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.review__content-greenImage {
    margin: 0 12px;
}

.product {
    margin-top: 81px;
}

.product__headline {
    text-align: center;
    font-size: 50px;
    color: var(--dark-gray);
    max-width: 916px;
    width: 100%;
    margin: auto;
}

.product__buttons {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.product__buttons-color {
    display: flex;
    align-items: center;
}

.product__buttons-text {
    font-size: 14px;
    color: #8f8f8f;
}

.product__buttons-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
    padding: 5px;
    border: none;
}

.product__buttons-circle:focus {
    border: 2px solid var(--light-gray);
}

.product__buttons-green {
    background: #1C2D0F;
}

.product__buttons-blue {
    background: #0B1B46;
}

.product__buttons-purple {
    background: #BBC8D9;
}

.product__buttons-gray {
    background: #BEBAB8;
}

.product__link-btn {
    background-color: #ff7144;
    color: var(--primary-color);
    padding: 12px 18px;
    border: none;
    border-radius: 27px;
}

.product__grid {
    margin-top: 27px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(345px, auto);
}

.product__grid-item3 {
    grid-column: 3/6;
    grid-row: 1/3;
}

.product__grid-item {
    background: #f3f3f3;
    border-radius: 30px;
    width: 100%;
    text-align: center;
}

.product__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    color: #383D26;
}

.product__grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    position: relative;
}

.product__content-description {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 20px;
    left: 24px;
}

.product__content-name,
.product__content-price {
    background-color: var(--primary-color);
    color: #000000;
    padding: 7px 14px;
    margin-right: 5px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}

.product__content-price {
    opacity: 0.5;
}

.advertisement {
    width: 100%;
    margin-top: 70px;
    background-image: url(../image/slider-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    height: 110vh;
    position: relative;
    overflow-x: hidden;
}

.advertisement__text {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    transform: translateX(-4%);
    color: var(--primary-color);
    font-size: 80px;
    animation: animateRight 5s linear infinite;
    white-space: nowrap;
}

@keyframes animateRight {
    0% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(100%);
    }
}

.sponsors {
    margin-top: 80px;
}

.sponsors__headline {
    font-size: 18px;
    text-align: center;
    color: var(--dark-gray);
    font-weight: 400;
}

.sponsors__list {
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}

.sponsors__list-item {
    margin-top: 20px;
}

footer {
    margin-top: 53px;
    padding: 42px 0 10px 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.footer__wrapper-left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__wrapper-form {
    margin-right: 100px;
}

.footer__wrapper-form-label {
    font-size: 16px;
    color: var(--dark-gray);
}

.footer__wrapper-input-box {
    margin: 18px 0;
    display: flex;
}

.footer__wrapper-input {
    border-radius: 40px;
    border: 1px solid #d8d8d8;
    padding: 9px 0 9px 16px;
    outline: none;
    margin-right: 5px;
}

.footer__wrapper-input::placeholder {
    font-size: 16px;
    color: var(--dark-gray);
    opacity: 0.5;
}

.footer__wrapper-button {
    color: var(--primary-color);
    background-color: #ff7144;
    padding: 12px 20px;
    font-size: 15px;
    border: none;
    border-radius: 27px;
    text-transform: uppercase;
}

.footer__wrapper-warning {
    font-size: 14px;
    color: var(--dark-gray);
}

.footer__wrapper-links {
    list-style: none;
}

.footer__wrapper-item {
    font-size: 16px;
    color: var(--dark-gray);
    margin-bottom: 15px;
    text-transform: capitalize;
}

.footer__wrapper-item-link {
    text-decoration: none;
}

.footer__wrapper-media {
    display: flex;
    align-items: center;
}

.footer__wrapper-media-link {
    color: var(--dark-gray);
    width: 18px;
    height: 18px;
}

.footer__wrapper-media-link:not(:first-child) {
    margin-left: 30px;
}

.footer__logo-wrapper {
    margin-top: 73px;
}

.footer__logo-image {
    width: 100%;
}

.footer__info {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #CCC8C2;
    font-size: 14px;
}

.footer__info-right {
    display: flex;
    align-items: center;
    list-style: none;
}

.footer__info-terms {
    margin-right: 50px;
}


/*-------------------------------------------------------- media------------------------------------------*/

@media screen and (max-width:1200px) {
    .service__wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .service__wrapper-right {
        width: 100%;
        margin-top: 50px;
    }
    .service__content {
        margin-top: 20px;
    }
    .product__grid-item1 {
        grid-column: 1/4;
        grid-row: 1;
    }
    .product__grid-item2 {
        grid-column: 4/8;
        grid-row: 1;
    }
    .product__grid-item3 {
        grid-column: 1/8;
        grid-row: 3;
    }
    .product__grid-item4 {
        grid-column: 1/2;
        grid-row: 2;
    }
    .product__grid-item5 {
        grid-column: 2/8;
        grid-row: 2;
    }
}

@media screen and (max-width:992px) {
    .nav__btn {
        display: flex;
    }
    .nav__remove-btn {
        display: block;
        border: none;
        background: none;
    }
    .nav__ul {
        position: absolute;
        left: 0;
        height: 100vh;
        top: 0;
        overflow: hidden;
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 80px;
        width: 100%;
        transform: translateX(-100%);
        transition: 0.5s ease-in;
        opacity: 0;
    }
    .nav__ul-li {
        font-size: 55px;
        text-transform: uppercase;
        opacity: 0;
        margin-top: 20px;
    }
    .nav__logo {
        margin-left: 0;
    }
    .advertisement__text {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) {
    .service__wrapper-right {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 720px) {
    .product__grid-item1 {
        grid-column: 1/8;
        grid-row: 1;
    }
    .product__grid-item2 {
        grid-column: 1/8;
        grid-row: 2;
    }
    .product__grid-item3 {
        grid-column: 1/8;
        grid-row: 3;
    }
    .product__grid-item4 {
        grid-column: 1/8;
        grid-row: 4;
    }
    .product__grid-item5 {
        grid-column: 1/8;
        grid-row: 5;
    }
    .product__content-image {
        max-width: 400px;
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .advertisement__text {
        animation-duration: 3s;
        font-size: 25px;
    }
    .advertisement {
        height: 70vh;
    }
    .footer__wrapper {
        flex-direction: column;
        justify-content: flex-start;
    }
    .footer__wrapper-left {
        flex-direction: column;
        justify-content: flex-start;
    }
    .footer__wrapper-form {
        margin-right: 0px;
    }
    .footer__info {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__info-right {
        margin-top: 10px;
    }
    .nav__icon {
        display: none;
    }
    .nav__ul-icon {
        display: block;
    }
    .nav__icon-smile,
    .nav__icon-handbag {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 430px) {
    .product__content-image {
        max-width: 300px;
        width: 100%;
    }
    .sponsors__list {
        flex-direction: column;
        justify-content: center;
    }
}

.nav__ul-active {
    transform: translateX(0%);
    opacity: 1;
}

@keyframes navListAnimation {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}